body{
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
#courstitle{
	padding-top:100px;
}
*{ 
	cursor: default;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
	margin-left:100px;
    position: fixed;
    width: 1300px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #1C6381;
	border: 3px solid #FFFFFF;
	border-radius: 70px;
	height: 70px;
}
#tp{
	float:right;
	margin-right:30px;
}
#tp:hover{
	color:rgb(189, 32, 37);
}
#courses{
	float:right;
	margin-right:40px;
	border-right: 6px solid white;
	border-left: 6px solid white;
    height: 100%;
	padding-left:30px;
	padding-right:30px;
}
#courses:hover{
	color:rgb(189, 32, 37);
}
#home{
	float:right;
	margin-right:40px;
}
#home:hover{
	cursor: pointer;
	color:rgb(189, 32, 37);
}
a{
	text-decoration:none;
	color: inherit;
	cursor: pointer;
}
OL{
	padding-left:70px;
}
UL{
	padding-bottom:20px;
	padding-left:30px;
}
#phone{
	position:fixed;
	bottom: 60px;
    right: 20px;
	width:7%;
	height:10%;
	opacity: 0.7;
	transition: 0.3s;
}
#phone:hover{
	cursor: pointer;
	opacity: 1;
}
.greys {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}
.contact {
  margin: auto;
  display: block;
  width: 400px;
  height: 600px;
}
.contact, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
.close {
  position: absolute;
  top: 15px;
  right: 355px;
  color: #FFFFFF;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}